<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

  <!--<context:property-placeholder location="classpath*:config/sms.properties" ignore-unresolvable="true"/>-->
  <!-- 配置包扫描 -->
  <dubbo:annotation package="com.pinyougou.cart.service.impl"/>

  <dubbo:application name="pinyougou-cart-service"/>
  <dubbo:protocol name="dubbo" port="20887"></dubbo:protocol>
  <dubbo:registry address="zookeeper://192.168.25.128:2181"/>
</beans>